*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    
}
  
/*----- The Diet ------*/

.Chocolate{
    color: orange;
    font-weight: 700;
}
.the-diet-wr h1{
    font-size: 3.5em;
    padding-top: 100px;
}
.the-diet-wr{
    width: 38%;
    color: gray;
    text-align: left;
    margin-left: 5%;
}

.the-diet-wr ol{
    font-size: 120%;
    color: gray;
    padding: 50px 0px;
}
.the-diet-wr p{
    padding:50px 0;
}
.margin_left{
    margin-left: 17%;
}
.order{
    background-image: linear-gradient(rgb(126, 125, 124), rgb(219, 157, 157));
    padding: 15px 22px;
    border-radius: 40px;
    font-weight: 800;
    color: rgb(63, 56, 56);
    margin-top: 5%;
    text-decoration: none;
}

/*----- About me ------*/

.about-bg{
    background-image: url(images/frame.jpg);
    background-size: cover;
    padding:50px 0px;
}

/*----- My Recommended ------*/

.food-r{
    text-align: center;
    margin-top: 5%;
    font-size: 120%;
    color: gray;}

.food-recommended{
    width: 20%;
    
    
    margin-top: 10%;
    cursor: pointer;
    margin:10px 0px 0px 50px;
    
    
}
.food-recommended img{
    width: 90%;
    height: 60%;
    border-radius: 25px;
    padding: 5%;
    
}
.food-recommended h1{
    text-align: center;
}

.food-recommended p{
    font-size: 13px;
    margin-top: 10px;
    margin-left: 5%;
    color: rgb(95, 91, 91);
}
.box-shadow{
    box-shadow:2px 2px 20px black;
    border-radius: 17px;
}
.food-recommended:hover{
    background-color: rgb(39, 37, 37);
    color: blanchedalmond;
    transition: .5s;

}
.food-recommended:hover p{
    color:white;
}

.flex{
    display: flex;
    margin-top: 5%;
}

/*------ Follower ------*/

.follower{
    width: 90%;
    margin: 5%;
    padding: 2% 0;
}

.follower-css{
    width: 30%;
    padding: 3% 10%;
}
.follower-css h1{
    font-size: 50px;
}
.start-diet{
    text-align: center;
    background-color: black;
    padding: 3% 0 7% 0;
}
.start-diet h1{
    color: gray;
    font-size:50px;
    text-transform: uppercase;
}
.start-diet p{
    color: white;
    padding:1%;
    font-size: 25px;
}